/* labels for images */

.image-dot{
    width: 60px;
    height: 60px;
    border-radius:50%;
    background-color:green;
    position: absolute;
    top:30%;
    right:30%;
    opacity: 0.8;
    border:white dotted 5px;
}
    
.image-dot2{
    width: 60px;
    height: 60px;
    border-radius:50%;
    background-color:green;
    position: absolute;
    top:45%;
    right:45%;
    opacity: 0.8;
    border:white dotted 5px;
}
    